@model List<Shop>
@{

}
<h2 class="text-center mb-5">Список магазинов</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Shops" asp-action="Create">Новый магазин</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Адрес</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var shop in Model)
        {
            <tr>
                <td>@shop.Id</td>
                <td>@shop.Name</td>
                <td>@shop.Description</td>
                <td>@shop.address</td>
            </tr>
        }
    </tbody>

</table>
