
@{
    ViewData["Title"] = "Справка";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Добро пожаловать в наш магазин техники!</h2>

        <p>Наш магазин предлагает широкий ассортимент качественной техники по доступным ценам. У нас вы найдете продукцию ведущих производителей, гарантирующих надежность и качество своих товаров. Мы также предлагаем выгодные условия доставки и гарантийное обслуживание.</p>

    </div>
</div>
