@model List<Client>
@{

}
<h2 class="text-center mb-5">Список клиентов</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">Новый продукт</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Полное имя</th>
            <th>Номер телефона</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Number/td>
            </tr>
        }
    </tbody>

</table>
